# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*.egg-info/
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/

# Ide
.vscode

# Release script
release.py

# Dependecies
node_modules