<div class="container p-2">
    <div class="row align-items-center justify-content-center rounded" style="background-color: #e9ecef; height: 40px;">
        <div class="col-auto" role="button" routerLink="/docs">Docs</div>
        <a class="col-auto" href="https://github.com/supersu-man/pyt2s">GitHub</a>
        <a class="col-auto" href="https://pypi.org/project/pyt2s/">PyPI</a>
    </div>
</div>

<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row text-center my-3">
        <div class="col">
            <img src="assets/logo.png" height="150" width="150">
        </div>
    </div>
    <div class="row text-center my-3">
        <div class="col display-4 fw-bold">
            The Python Text to Speech library you've been looking for.
        </div>
        <div class="col-12 fs-4">
            A simple python library to convert texts to voice using different TTS services.
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" value="pip install pyt2s" class="form-control" disabled>
                
                <span  class="input-group-text" role="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" (click)="copy()">
                    @if (!copied) {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                        </svg>
                    } @else {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                        </svg>
                    }
                </span>
            </div>
        </div>
    </div>
</div>